:root {
    font-size: 1rem;

    --bar-size: 3rem;

    /* colors */

    --dark-1: #0A0A0A;
    --dark-2: #0E0E0E;
    --dark-3: #111111;
    --dark-4: #181818;
    --dark-5: #262626;
    --white: #f8f8f8;

    --blue: #5F69CA;
    --purple: #9D4EDD;
    --red: #ff0037;
    --orange: #FF5E1C;
    --yellow: #FFBB00;
    --green: #4AD295;
}

.nav-top {
    display: flex;
    list-style: none;
    align-items: center;
    margin: 0.313rem;
    padding: 0.313rem;
}

.nav-top li {
    display: inline-block;
    margin: 0 0.313rem;
    padding: 0 1.25rem;
    font-size: 1rem;
    background-color: var(--dark-4);
    border: none;
    border-radius: 0.625rem;
}

.nav-top li {
    transition: all ease-in-out 250ms;
}

.nav-top li:hover {
    background-color: var(--dark-5);
}

.grid {
    display: grid;
    grid-template-columns: 50%;
    grid-template-rows: min-content;
    grid-template-areas:
        "headline headline"
        "about contact";
    gap: 0.5rem;
    min-height: 100%;
}

.grid div {
    box-sizing: content-box;
    width: auto;
    height: auto;
    text-align: justify;
    text-align-last: center;
    background: var(--dark-2);
    padding: 1rem;
    border: none;
    border-radius: 0.5rem;
}

.grid div:first-child {
    margin: 0;
}

.grid h1 {
    font-size: 2rem;
    font-weight: 900;
}

.grid .headline {
    grid-area: headline;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    aspect-ratio: 3 / 1;
}

.headline::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, #ffffff, #d0d0ff, #ffffff), url(images/main/wallpaper.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode: multiply;
}

.headline h1 {
    position: absolute;
    font-size: 4rem;
    filter: drop-shadow(0 0 1rem var(--dark-1));
}

.headline img {
    width: 16rem;
    height: 16rem;
    -webkit-user-drag: none;
}

.about, .contact {
    bottom: 0;
}

.about {
    grid-area: about;
    display: flex;
    flex-direction: column;
}

.about p {
    flex: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.contact {
    grid-area: contact;
    display: flex;
    flex-direction: column;
}

.contact p {
    flex: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.contact p a {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    align-items: center;
}

.contact p a:hover {
    text-decoration: underline 0.125rem;
}

.contact p a img {
    width: 4rem;
    height: 4rem;
    margin: 0.625rem;
    transition: all ease-in-out 250ms;
    -webkit-user-drag: none;
    filter: grayscale(1);
}

.contact p a:hover img {
    transform: scale(1.1);
}

.contact p a:active img {
    transform: scale(1);
}





/* smartphone */

@media screen and (max-width: 550px) {
    :root {
        font-size: 14px;
    }

    /* navbar-top */

    header {
        display: none;
    }

    /* sidebar */

    .sidebar {
        display: block;
        top: 0;
        bottom: 0;
        left: -15.625rem;
        width: 15.625rem;
        position: fixed;
        background: var(--dark-2);
        user-select: none;
        z-index: 2;
        transition: all ease-in-out 500ms;
    }

    .close-sidebar {
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        border-radius: 0.625rem;
        background: none;
        margin: 0.625rem;
        padding: 0.313rem 0;
        transition: all ease-in-out 250ms;
    }

    .close-sidebar:hover {
        background-color: var(--dark-4);
        padding: 0.313rem;
    }

    .close-sidebar img {
        width: 1.25rem;
        height: 1.25rem;
        padding: 0.313rem;
        filter: invert(71%) sepia(94%) saturate(936%) hue-rotate(353deg) brightness(101%) contrast(101%);
    }

    
    /* main */
    
    .main {
        top: 0;
        left: 0;
    }

    .grid {
        grid-template-areas:
            "headline headline"
            "about about"
            "contact contact"
        ;
    }

    .open-sidebar {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        left: 0;
        aspect-ratio: 1 / 1;
        background-color: var(--dark-4);
        border: none;
        border-radius: 0.625rem;
        margin: 0.313rem;
    }

    .headline .open-sidebar img {
        width: 1.667rem;
        height: 1.667rem;
        padding: 0.417rem;
        filter: invert(71%) sepia(94%) saturate(936%) hue-rotate(353deg) brightness(101%) contrast(101%);
    }

    .headline h1 {
        font-size: 1.5rem;
    }

    .headline img {
        width: 8rem;
        height: 8rem;
    }

    .headline img[alt="musical note"] {
        display: none;
    }
}

@media screen and (max-width: 320px) {
    :root {
        font-size: 12px;
    }
}