:root {
    font-size: 1rem;

    --bar-size: 3.125rem;

    /* colors */
    --font-color: #ffc107;
    --dark-1: #191923;
    --dark-2: #1e1e28;
    --dark-3: #20202a;
    --dark-4: #24242e;
    --dark-5: #2b2b36;
    --dark-6: #2c2c38;
}

.nav-top {
    display: flex;
    list-style: none;
    align-items: center;
    margin: 0.313rem;
    padding: 0.313rem;
}

.nav-top li {
    display: inline-block;
    margin: 0 0.313rem;
    padding: 0 1.25rem;
    font-size: 1rem;
    background-color: var(--dark-4);
    border: none;
    border-radius: 0.625rem;
}

.nav-top li {
    transition: all ease-in-out 250ms;
}

.nav-top li:hover {
    background-color: var(--dark-5);
}

.grid {
    display: grid;
    grid-template-columns: 50%;
    grid-template-rows: min-content;
    grid-template-areas:
        "headline headline"
        "about contact";
    gap: 0.5rem;
    min-height: 100%;
}

.grid div {
    box-sizing: content-box;
    width: auto;
    height: auto;
    text-align: justify;
    text-align-last: center;
    background: linear-gradient(-45deg, var(--dark-4), var(--dark-6));
    padding: 0.625rem;
    border: none;
    border-radius: 0.625rem;
}

.grid div:first-child {
    margin: 0;
}

.grid h1 {
    font-size: 2rem;
    font-weight: 900;
}

.grid .headline {
    grid-area: headline;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    overflow: hidden;
    background-image: url(images/main/headline/wallpaper.jpg), linear-gradient(-45deg, var(--dark-4), var(--dark-6));
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    aspect-ratio: 3 / 1;
}

.headline h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3rem;
    z-index: 1;
}

.headline img {
    width: 16rem;
    height: 16rem;
    filter: invert(4%) sepia(24%) saturate(1677%) hue-rotate(203deg) brightness(91%) contrast(86%);
    -webkit-user-drag: none;
}

.headline img[alt="logo"] {
    animation: rot-logo linear infinite 5s;
}

@keyframes rot-logo {
    0% {
        transform: rotateY(0deg);
    }

    50% {
        transform: rotateY(180deg);
    }

    100% {
        transform: rotateY(360deg);
    }
}

.headline img[alt="musical note"] {
    width: 8rem;
    height: 8rem;
    align-items: center;
    filter: invert(7%) sepia(6%) saturate(3674%) hue-rotate(202deg) brightness(97%) contrast(87%);
    animation: move-notes ease alternate infinite 2s;
}

.headline img:last-of-type,
.headline img:first-of-type {
    width: 4rem;
    height: 4rem;
    filter: invert(6%) sepia(25%) saturate(969%) hue-rotate(201deg) brightness(90%) contrast(84%);
    animation-delay: 250ms;
}

@keyframes move-notes {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.25);
    }
}

.about, .contact {
    bottom: 0;
}

.about {
    grid-area: about;
    display: flex;
    flex-direction: column;
}

.about p {
    flex: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.contact {
    grid-area: contact;
    display: flex;
    flex-direction: column;
}

.contact p {
    flex: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.contact p a {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    align-items: center;
}

.contact p a:hover {
    text-decoration: underline 0.125rem;
}

.contact p a img {
    width: 4rem;
    height: 4rem;
    margin: 0.625rem;
    transition: all ease-in-out 250ms;
    -webkit-user-drag: none;
}

.contact p a:hover img {
    transform: scale(1.1);
}

.contact p a:active img {
    transform: scale(1);
}





/* smartphone */

@media screen and (max-width: 550px) {
    :root {
        font-size: 14px;
    }

    /* navbar-top */

    header {
        display: none;
    }

    /* sidebar */

    .sidebar {
        display: block;
        top: 0;
        bottom: 0;
        left: -15.625rem;
        width: 15.625rem;
        position: fixed;
        background: var(--dark-2);
        user-select: none;
        z-index: 2;
        transition: all ease-in-out 500ms;
    }

    .close-sidebar {
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        border-radius: 0.625rem;
        background: none;
        margin: 0.625rem;
        padding: 0.313rem 0;
        transition: all ease-in-out 250ms;
    }

    .close-sidebar:hover {
        background-color: var(--dark-4);
        padding: 0.313rem;
    }

    .close-sidebar img {
        width: 1.25rem;
        height: 1.25rem;
        padding: 0.313rem;
        filter: invert(71%) sepia(94%) saturate(936%) hue-rotate(353deg) brightness(101%) contrast(101%);
    }

    
    /* main */
    
    .main {
        top: 0;
        left: 0;
    }

    .grid {
        grid-template-areas:
            "headline headline"
            "about about"
            "contact contact"
        ;
    }

    .open-sidebar {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        left: 0;
        aspect-ratio: 1 / 1;
        background-color: var(--dark-4);
        border: none;
        border-radius: 0.625rem;
        margin: 0.313rem;
    }

    .headline .open-sidebar img {
        width: 1.667rem;
        height: 1.667rem;
        padding: 0.417rem;
        filter: invert(71%) sepia(94%) saturate(936%) hue-rotate(353deg) brightness(101%) contrast(101%);
    }

    .headline h1 {
        font-size: 1.5rem;
    }

    .headline img {
        width: 8rem;
        height: 8rem;
    }

    .headline img[alt="musical note"] {
        display: none;
    }
}

@media screen and (max-width: 320px) {
    :root {
        font-size: 12px;
    }
}
