:root {
    font-size: 1rem;

    --bar-size: 3rem;

    /* colors */

    --dark-1: #0A0A0A;
    --dark-2: #0E0E0E;
    --dark-3: #111111;
    --dark-4: #181818;
    --dark-5: #262626;
    --white: #f8f8f8;

    --blue: #5F69CA;
    --purple: #9D4EDD;
    --red: #ff0037;
    --orange: #FF5E1C;
    --yellow: #FFBB00;
    --green: #4AD295;
}

.main {
    gap: 0.5rem;
    flex-direction: row;
}

img {
    filter: invert(93%) sepia(2%) saturate(209%) hue-rotate(201deg) brightness(106%) contrast(98%);
}

/* queue */

.queue {
    height: 100%;
    width: 20rem;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.queue_ctrl {
    background: var(--dark-2);
    border-radius: 0.5rem;
    padding: 0.5rem;
    display: flex;
    gap: 0.5rem;
}

.queue_ctrl button {
    all: unset;
    box-sizing: border-box;
    position: relative;
    padding: 0.5rem;
    border-radius: 0.5rem;
    overflow: hidden;
    background: var(--dark-3);
    flex-grow: 1;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.queue_ctrl button img {
    width: 1.5rem;
    height: 1.5rem;
}

.queue div:nth-child(2) {
    overflow-y: auto;
    background: var(--dark-2);
    border-radius: 0.5rem;
    height: 100%;
    padding: 0.5rem;

    scrollbar-width: none;
}

.queue div:nth-child(2)::-webkit-scrollbar {
    width: 1rem;
}

.queue div:nth-child(2)::-webkit-scrollbar-track {
    border-radius: 0.5rem;
}

.queue div:nth-child(2)::-webkit-scrollbar-thumb {
    border-radius: 1rem;
    border: 0.35rem solid transparent;
    background-clip: content-box;
    background-color: var(--dark-3);
}

.queue div:nth-child(2)::-webkit-scrollbar-thumb:hover {
    background-color: var(--dark-4);
}

.queue_list {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    position: relative;
}

.queue_list li {
    list-style: none;
    position: relative;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    overflow: hidden;
    background: var(--dark-3);
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-gap: 0.5rem;
    cursor: pointer;
}

.queue_list li span {
    text-overflow: ellipsis;
    overflow: hidden;
}

.queue_list li button {
    all: unset;
    height: 1rem;
    width: 1rem;
    display: flex;
    cursor: pointer;
}

.queue_list li button img {
    width: auto;
    height: auto;
    pointer-events: none;
}

li.drag-active {
    background: transparent;
    box-shadow: inset 0 0 0 0.25rem var(--dark-3);
}

li.drag-active * {
    visibility: hidden;
}

.played span, .played button img {
    opacity: 0.25;
}

/* add window */

.add_window {
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 100%;
    background: #00000037;
    backdrop-filter: grayscale(0.75);
    display: none;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    transition: ease 1s;
}

.add_popup {
    position: relative;
    width: 40rem;
    background: var(--dark-2);
    border-radius: 1rem;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    border: var(--dark-4) solid 0.2rem;
}

.add_popup span {
    font-size: 1rem;
    padding: 0.25rem;
}

.add_popup input {
    all: unset;
    background: var(--dark-1);
    border-radius: 0.5rem;
    font-size: 1rem;
    padding: 0.5rem;
}

.add_control {
    display: flex;
    justify-content: space-between;
}

.add_control button {
    all: unset;
    padding: 0.5rem;
    background: var(--dark-1);
    width: 4rem;
    border-radius: 0.5rem;
    text-align: center;
    cursor: pointer;
}

.invalid {
    outline: 0.2rem var(--red) solid !important;
}

/* video */

.video {
    height: 100%;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 0.5rem;
    border-radius: 0.5rem;
}

.iframe {
    position: relative;
    min-width: 100%;
    flex: 1 0 0;
    border-radius: 0.5rem;
    background: var(--dark-2);
}

.video span {
    position: absolute;
    font-size: 2rem;
    display: block;
}

.video_ctrl {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.video_ctrl div {
    display: flex;
    gap: 0.5rem;
}

.video_ctrl div button {
    all: unset;
    padding: 0.5rem 1.5rem;
    border-radius: 0.5rem;
    background: var(--dark-2);
    cursor: pointer;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.video_ctrl div button:is(#fullscreen) {
    padding: 0.5rem;
}

.video_ctrl div button img {
    width: 1.5rem;
    height: 1.5rem;
}



/* pause screen */

.pause_screen {
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5rem);
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: ease 1s;
    cursor: none;
}

.pause_screen img {
    filter: invert(93%) sepia(2%) saturate(209%) hue-rotate(201deg) brightness(106%) contrast(98%) drop-shadow(0 1rem 1rem var(--dark-1));
    -webkit-user-drag: none;
}

.pause_screen span {
    font-size: 4rem;
    filter: drop-shadow(0 0.5rem 0.25rem var(--dark-1));
}