:root {
    font-size: 1rem;

    --bar-size: 3rem;

    /* colors */

    --dark-1: #0A0A0A;
    --dark-2: #0E0E0E;
    --dark-3: #111111;
    --dark-4: #181818;
    --dark-5: #262626;
    --white: #f8f8f8;

    --blue: #5F69CA;
    --purple: #9D4EDD;
    --red: #ff0037;
    --orange: #FF5E1C;
    --yellow: #FFBB00;
    --green: #4AD295;
}