:root {
    font-size: 1rem;

    --bar-size: 3.125rem;

    /* colors */
    --font-color: #ffc107;
    --dark-1: #191923;
    --dark-2: #1e1e28;
    --dark-3: #20202a;
    --dark-4: #24242e;
    --dark-5: #2b2b36;
    --dark-6: #2c2c38;
    --invalid: #ff0037;
    --placeholder: #737375;
}

/* fonts */

@font-face {
    font-family: "poppins";
    src: url(../fonts/poppins/Poppins-Medium.ttf);
    font-display: swap;
}

/* all */

* {
    margin: 0;
    padding: 0;
    outline: 0;
}

body {
    height: 100vh;
    width: 100vw;
    background: var(--dark-2);
    font-family: "poppins";
    color: var(--font-color);
    scroll-behavior: smooth;
}

/* loader */

.loader-window {
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 100%;
    background: var(--dark-2);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    transition: ease 1s;
    pointer-events: none;
}

.loader {
    position: absolute;
    overflow: hidden;
}

.load-status {
    width: 12.5rem;
    text-align: center;
    font-size: 2rem;
    border-bottom: var(--dark-6) 0.25rem solid;
}

.loader-label {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-bottom: var(--font-color) 0.25rem solid;
    transform: translateX(-100%);
    transition: ease 1s;
}

/* navbar-top */

.open-sidebar {
    display: none;
}

header {
    display: flex;
    position: fixed;
    width: 100%;
    justify-content: space-between;
    height: var(--bar-size);
    background: var(--dark-2);
    box-sizing: border-box;
    user-select: none;
    z-index: 1;
}

header a {
    all: unset;
}

.title {
    display: flex;
    cursor: pointer;
    margin: 0.313rem;
    background-color: var(--dark-4);
    border: none;
    border-radius: 0.5rem;
    padding: 0.313rem;
    text-decoration: none;
}

.title img {
    max-width: 2rem;
    max-height: 2rem;
    filter: invert(71%) sepia(94%) saturate(936%) hue-rotate(353deg) brightness(101%) contrast(101%);
}

.title span {
    font-size: 1.25rem;
    color: var(--font-color);
    margin-left: 0.313rem;
}

.ps_name {
    display: flex;
    cursor: pointer;
    margin: 0.313rem;
    background-color: var(--dark-4);
    border: none;
    border-radius: 0.625rem;
    padding: 0.313rem;
    text-decoration: none;
}

.ps_name span {
    font-size: 1.25rem;
}

/* sidebar */

.sidebar {
    top: 3.125rem;
    bottom: 0;
    width: var(--bar-size);
    position: fixed;
    background: var(--dark-2);
    user-select: none;
    z-index: 1;
    transition: all ease-in-out 500ms;
}

.sidebar:hover {
    width: 15.625rem;
}

.close-sidebar {
    display: none;
}

.sidebar ul li {
    position: relative;
    margin: 0.5rem;
    padding: 0.313rem 0;
    border: none;
    border-radius: 0.5rem;
    transition: all ease-in-out 250ms;
    overflow: hidden;
    white-space: nowrap;
}

.sidebar ul li:hover {
    background-color: var(--dark-4);
    padding: 0.313rem;
}

.sidebar ul li a {
    display: flex;
    text-decoration: none;
    align-items: center;
}

.sidebar ul li a img {
    width: 1.5rem;
    height: 1.5rem;
    padding: 0.313rem;
    filter: invert(71%) sepia(94%) saturate(936%) hue-rotate(353deg) brightness(101%) contrast(101%);
}

/* main */

.main {
    position: fixed;
    top: var(--bar-size);
    left: var(--bar-size);
    bottom: 0;
    right: 0;
    background-color: var(--dark-1);
    border: none;
    border-top-left-radius: 1rem;
    padding: 0.5rem;
    overflow: auto;
    user-select: none;
    display: flex;
}

.main::-webkit-scrollbar {
    width: 1rem;
}

.main::-webkit-scrollbar-track {
    border-radius: 0.5rem;
}

.main::-webkit-scrollbar-thumb {
    border-radius: 0.5rem;
    border: 0.35rem solid transparent;
    background-clip: content-box;
    background-color: var(--dark-4);
}

.main::-webkit-scrollbar-thumb:hover {
    background-color: var(--dark-5);
}

/* smartphone */

@media screen and (max-width: 550px) {
    :root {
        font-size: 14px;
    }

    /* navbar-top */

    header {
        display: none;
    }

    /* sidebar */

    .sidebar {
        display: block;
        top: 0;
        bottom: 0;
        left: -15.625rem;
        width: 15.625rem;
        position: fixed;
        background: var(--dark-2);
        user-select: none;
        z-index: 2;
        transition: all ease-in-out 500ms;
    }

    .close-sidebar {
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        border-radius: 0.625rem;
        background: none;
        margin: 0.625rem;
        padding: 0.313rem 0;
        transition: all ease-in-out 250ms;
    }

    .close-sidebar:hover {
        background-color: var(--dark-4);
        padding: 0.313rem;
    }

    .close-sidebar img {
        width: 1.25rem;
        height: 1.25rem;
        padding: 0.313rem;
        filter: invert(71%) sepia(94%) saturate(936%) hue-rotate(353deg) brightness(101%) contrast(101%);
    }

    
    /* main */
    
    .main {
        top: 0;
        left: 0;
    }

    .open-sidebar {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        left: 0;
        aspect-ratio: 1 / 1;
        background-color: var(--dark-4);
        border: none;
        border-radius: 0.625rem;
        margin: 0.313rem;
    }
    
    .open-sidebar img {
        width: 1.667rem;
        height: 1.667rem;
        padding: 0.417rem;
        filter: invert(71%) sepia(94%) saturate(936%) hue-rotate(353deg) brightness(101%) contrast(101%);
    }
}

@media screen and (max-width: 320px) {
    :root {
        font-size: 12px;
    }
}
