:root {
    font-size: 1rem;

    --bar-size: 3rem;

    /* colors */

    --dark-1: #0A0A0A;
    --dark-2: #0E0E0E;
    --dark-3: #111111;
    --dark-4: #181818;
    --dark-5: #262626;
    --white: #f8f8f8;

    --blue: #5F69CA;
    --purple: #9D4EDD;
    --red: #ff0037;
    --orange: #FF5E1C;
    --yellow: #FFBB00;
    --green: #4AD295;
}

/* main */

.gen {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    margin: 10rem 0;
    display: flex;
    flex-direction: column;
    gap: 0.625rem;
    width: min-content;
}

.gen_count {
    all: unset;
    background: var(--dark-2);
    padding: 0.625rem;
    border-radius: 0.625rem;
    text-align: center;
    width: 5rem;
    appearance: textfield; /* Firefox */
}

.gen_count::-webkit-outer-spin-button, .gen_count::-webkit-inner-spin-button {
    display: none;
}

.gen_count:focus {
    outline: var(--font-color) 0.2rem solid;
}

.gen_count:invalid {
    color: var(--invalid);
    outline: var(--invalid) 0.2rem solid;
}

.gen_count::placeholder {
    color: var(--placeholder);
}

.filters {
    display: flex;
    flex-direction: column;
    gap: 0.625rem;
}

.filter {
    display: flex;
    gap: 0.625rem;
}

.type_wrapper {
    all: unset;
    background: var(--dark-2);
    padding: 0.625rem;
    border-radius: 0.625rem;
    font-size: 1rem;
    text-align: center;
    color: var(--placeholder);
    width: 5rem;
    cursor: pointer;
}

.active {
    outline: var(--font-color) 0.2rem solid;
}

.valid {
    color: var(--font-color);
}

.type_list {
    margin: 0.625rem 0;
    position: fixed;
    list-style-type: none;
    background: var(--dark-2);
    outline: var(--dark-5) 0.2rem solid;
    padding: 0.5rem;
    border-radius: 0.5rem;
    font-size: 1rem;
    text-align: center;
    min-width: 5rem;
    display: none;
    flex-direction: column;
    gap: 0.5rem;
}

.type_list li {
    cursor: pointer;
}

.type_list li:hover {
    background: var(--dark-3);
    border-radius: 0.5rem;
}

.submit, .add_filter {
    all: unset;
    background: var(--dark-2);
    padding: 0.5rem;
    border-radius: 0.5rem;
    font-size: 1rem;
    text-align: center;
    min-width: 5rem;
    color: var(--placeholder);
    transition: all ease 250ms;
    cursor: pointer;
}